<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat Data Penduduk</title>
        <div th:replace="fragments/fragment :: links"></div>
    </head>
    <body>
    	
    	<div th:replace="fragments/fragment :: navbar"></div>
    	<div class="jumbotron">  		
	                <h1 th:text="'Lihat Data Penduduk - ' + ${penduduk.nik}" ></h1>
	    </div>
		
		
		<div class="container">
	       	
	       	<table class="table table-borderless">
			    <thead>
			    </thead>
			    <tbody>
			      <tr>
			        <td>NIK</td>
			        <td th:text="${penduduk.getNik()}">NIK Penduduk</td>
			      </tr>
			      <tr>
			        <td>Nama</td>
			        <td th:text="${penduduk.getNama()}">Nama Penduduk</td>
			      </tr>
			      <tr>
			        <td>Tempat/Tanggal Lahir</td>
			        <td th:text="${penduduk.getTempat_lahir()} + ', ' +${penduduk.getTanggal_lahir()} ">TTL Penduduk</td>
			      </tr>
			      <tr>
			      	<td>Alamat</td>
			      	<td th:text="${keluarga.getAlamat()}">Alamat Penduduk</td>
				  </tr>
			      <tr>
			      	<td>RT/RW</td>
			      	<td th:text="${rtrw}">RT/RW Penduduk</td>
				  </tr>				  
			      <tr>
			      	<td>Kelurahan/Desa</td>
			      	<td  th:text="${kelurahan.getNama_kelurahan()}">Kelurahan Penduduk</td>
				  </tr>			  
			      <tr>
			      	<td>Kecamatan</td>
			      	<td th:text="${kecamatan.getNama_kecamatan()}">Kecamatan Penduduk</td>
				  </tr>	  
			      <tr>
			      	<td>Kota</td>
			      	<td th:text="${kota.getNama_kota()}">Kota Penduduk</td>
				  </tr>
			      <tr>
			      	<td>Golongan Darah</td>
			      	<td th:text="${penduduk.getGolongan_darah()}">Golongan Darah Penduduk</td>
				  </tr>
			      <tr>
			      	<td>Agama</td>
			      	<td th:text="${penduduk.getAgama()}">Agama Penduduk</td>
				  </tr>
			      <tr>
			      	<td>Status Perkawinan</td>
			      	<td th:text="${penduduk.getStatus_perkawinan()}">Status Perkawinan Penduduk</td>
				  </tr>
	       	      <tr>
			      	<td>Pekerjaan</td>
			      	<td th:text="${penduduk.getPekerjaan()}">Pekerjaan Penduduk</td>
				  </tr>
				  <tr th:switch="${penduduk.jenis_kelamin}">
				  	<td>Jenis Kelamin</td>
				  	<td th:case="0">Pria</td>
				  	<td th:case="1">Wanita</td>
				  </tr>
				  <tr th:switch="${penduduk.is_wni}">
				  	<td>Kewarganegaraan</td>
				  	<td th:case="0">WNA</td>
				  	<td th:case="1">WNI</td>
				  </tr>
				  <tr th:switch="${penduduk.is_wafat}">
				  	<td>Status Kematian</td>
				  	<td th:case="0">Hidup</td>
				  	<td th:case="1">Wafat</td>
				  </tr>
	       	
			    </tbody>
			  </table>
	       	
	       
		   <br>
	       	<form th:action="'/penduduk/mati'"  method="post">
	       		<input type="hidden" name="nik"  th:value="${penduduk.nik}" />
				<button type="submit" class="btn btn-default">Nonaktifkan</button>
			</form>
			
		</div>
		
		
		<div th:replace="fragments/fragment :: footer"></div>
	 	
    </body>
</html>
